.App {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: darkgray;
}

.app-body{
  display: flex;
  background-color: #ededed;
  margin: 15px 60px;
  height: 94vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -7px rgba(0,0,0,0.75);
}
